<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div class="pb-15">
      <img
        class="w-100"
        mat-card-image
        src="../../assets/images/pic01.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
  </mat-card-header>
  <mat-card-actions class="pl-35 pr-35 pb-30">
    <div class="flex w-100">
      <div class="title flex-item fx-col w-100 fx-grow-3">
        <h6>
          <a>MAGNA SED ADIPISCING</a>
        </h6>
        <time class="published" datetime="2015-11-01">November 1, 2015</time>
      </div>
      <div
        class="meta flex-item flex w-100 fx-grow-1 fx-layout-align--center--end"
      >
        <a
          class="author cursor-pointer flex fx-layout-align--center--start gap-10"
        >
          <img
            class="author-image"
            src="../../assets/images/avatar.jpg"
            alt="author"
          />
        </a>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
