<h4 mat-dialog-title class="text-center">Learn from Failure Stories</h4>
<mat-dialog-content class="mat-typography">
  <div class="flex">
    <div class="flex-item fx-col w-50 fx-grow-1 text-center">
      <h4 class="p-16-0">Benifits of Techi Hicups</h4>
    </div>
    <div class="flex-item fx-col w-50 fx-grow-1">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Login">
          <uac-login></uac-login>
        </mat-tab>
        <mat-tab label="signup">
          <uac-signup></uac-signup>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-dialog-content>
