<h4 mat-dialog-title class="text-center">Learn from Failure Stories</h4>
<mat-dialog-content class="mat-typography">
  <div class="flex">
    <div class="flex-item fx-col w-50 fx-grow-1">
      <h4 class="p-16-40">Benifits of Techi Hicups</h4>
      <div class="fx-col p-0-40">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon
              class="mr-10"
              aria-hidden="false"
              aria-label="arrow right"
              fontIcon="arrow_right_alt"
            ></mat-icon>
            Collaborative Community for Startups</mat-list-item
          >
          <mat-list-item role="listitem"
            ><mat-icon
              class="mr-10"
              aria-hidden="false"
              aria-label="arrow right"
              fontIcon="arrow_right_alt"
            ></mat-icon
            >Visibility and Networking Opportunities</mat-list-item
          >
          <mat-list-item role="listitem"
            ><mat-icon
              class="mr-10"
              aria-hidden="false"
              aria-label="arrow right"
              fontIcon="arrow_right_alt"
            ></mat-icon
            >User-Friendly and Engaging Interface</mat-list-item
          >
          <mat-list-item role="listitem"
            ><mat-icon
              class="mr-10"
              aria-hidden="false"
              aria-label="arrow right"
              fontIcon="arrow_right_alt"
            ></mat-icon
            >Constructive Feedback Loop</mat-list-item
          >
        </mat-list>
      </div>
    </div>
    <div class="flex-item fx-col w-50 fx-grow-1">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Login">
          <uac-login></uac-login>
        </mat-tab>
        <mat-tab label="signup">
          <uac-signup></uac-signup>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-dialog-content>
