<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/no-autofocus -->

<form
  [formGroup]="signupForm"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
  class="p-16-0"
>
  <div class="flex fx-wrap">
    <div class="fx-col fx-col-input-field">
      <mat-form-field class="input-lg" appearance="outline" density="-2">
        <mat-label>Username </mat-label>
        <input
          matInput
          placeholder="Username"
          minlength="1"
          formControlName="username"
          id="username"
          required
          autofocus
        />
      </mat-form-field>
      @for(validation of validationMessages.username; track validation; let i =
      $index) { @if (signupForm.get('username').hasError(validation.type) &&
      (signupForm.get('username').dirty || signupForm.get('username').touched))
      {
      <mat-error class="error-lg">
        {{ validation.message }}
      </mat-error>
      } }
    </div>
    <div class="fx-col fx-col-input-field">
      <mat-form-field class="input-lg" appearance="outline" density="-2">
        <mat-label>email </mat-label>
        <input
          matInput
          placeholder="email"
          minlength="1"
          formControlName="email"
          id="email"
          required
          autofocus
        />
      </mat-form-field>
      @for(validation of validationMessages.email; track validation; let i =
      $index) { @if (signupForm.get('email').hasError(validation.type) &&
      (signupForm.get('email').dirty || signupForm.get('email').touched)) {
      <mat-error class="error-lg">
        {{ validation.message }}
      </mat-error>
      } }
    </div>
    <div class="fx-col fx-col-input-field">
      <mat-form-field class="input-lg" appearance="outline" density="-2">
        <mat-label>Mobile </mat-label>
        <input
          matInput
          placeholder="mobile"
          minlength="1"
          formControlName="mobile"
          id="mobile"
          required
          autofocus
        />
      </mat-form-field>
      @for(validation of validationMessages.mobile; track validation; let i =
      $index) { @if (signupForm.get('mobile').hasError(validation.type) &&
      (signupForm.get('mobile').dirty || signupForm.get('mobile').touched)) {
      <mat-error class="error-lg">
        {{ validation.message }}
      </mat-error>
      } }
    </div>
    <div class="fx-col fx-col-input-field">
      <mat-form-field class="input-lg" appearance="outline" density="-2">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="password"
          minlength="1"
          formControlName="password"
          id="password"
          required
          autofocus
        />
      </mat-form-field>
      @for(validation of validationMessages.password; track validation; let i =
      $index) { @if (signupForm.get('password').hasError(validation.type) &&
      (signupForm.get('password').dirty || signupForm.get('password').touched))
      {
      <mat-error class="error-lg">
        {{ validation.message }}
      </mat-error>
      } @if(errorMessage) {
      <mat-error class="error-lg pt-20">
        {{ validation }}
      </mat-error>
      }}
    </div>
  </div>
  <div class="flex gap-10">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-flat-button type="submit" [disabled]="!validate()">
      Signup
    </button>
  </div>
</form>
