<div class="body-section flex gap-40 fx-wrap pt-45 pb-45">
  <div class="side-section flex-item fx-col gap-30 fx-grow-2">
    <div class="side-head w-100 th-border-bottom fx-wrap pb-35">
      <div class="intro">
        <a class="logo" class="cursor-pointer">
          <img src="../../assets/images/logo.jpg" alt="image" />
        </a>
        <header style="border: none">
          <h2>Techi HICUPS</h2>
          <p class="banner_desc">
            Post Your Startup Story & Let Every One Know Who You are...
          </p>
        </header>
      </div>
    </div>

    <div class="new-posts w-100">
      <uac-mini-post-card
        [data]="miniposts"
        (viewPost)="viewPost($event)"
      ></uac-mini-post-card>
    </div>
  </div>
  <div class="main-section flex-item fx-col gap-30 fx-grow-5">
    <div class="new-posts w-100">
      <uac-post-display-card
        [data]="majorPosts"
        (viewPost)="viewPost($event)"
      ></uac-post-display-card>
    </div>
  </div>
</div>
